## Java

*.class
*.war
*.ear
hs_err_pid*
*.pit


## Android Studio and Intellij and Android in general
android/libs/armeabi/
android/libs/armeabi-v7a/
android/libs/x86/
android/gen/
.idea/
*.ipr
*.iws
*.iml
out/
com_crashlytics_export_strings.xml

## Eclipse
.classpath
.project
.metadata
**/bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.externalToolBuilders/
*.launch

## NetBeans
**/nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

## Gradle

.gradle
*/gradle/

## OS Specific
.DS_Store
/local
/bin/

overlap2d-runtime-libgdx
spine-runtimes

overlap2d/assets/style/uiskin.png
overlap2d/assets/style/uiskin.atlas
assets/style/uiskin.png
assets/style/uiskin.atlas
overlap2d/assets/splash/splash.png
overlap2d/assets/splash/splash.atlas
assets/splash/splash.png
assets/splash/splash.atlas
/runOverlap2d_dev.bat
